<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Prosta kasa</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/content/bootstrap.min.css' %}" />
    <!-- link rel="stylesheet" type="text/css" href="{% static 'main/scripts/ui/jquery-ui.css' %}" /-->
    <link rel="stylesheet" type="text/css" href="{% static 'main/content/site.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'main/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'main/scripts/respond.js' %}"></script>
    <!-- script src="{% static 'main/scripts/jquery-1.10.2.js' %}"></script -->
    <!--script src="{% static 'main/scripts/ui/jquery-ui.js' %}"></script -->
    <script src="{% static 'main/scripts/modernizr-2.6.2.js' %}"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/main" class="navbar-brand">Prosta kasa</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'about' %}">O kasie</a></li>
                    <li><a href="{% url 'contact' %}">Kontakt</a></li>
                    <li><a href="/admin/">Admin</a></li>
                </ul>
                {% include 'main/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; CODEFUSION {{ year }} - Prosta kasa</p>
        </footer>
    </div>
{% block scripts %}{% endblock %}

</body>
</html>
