{% extends "main/layout.html" %}

{% load humanize %}

{% block content %}

<script language="javascript">

    $(document).ready(function () {
        $('#id_fromDate').datepicker({ dateFormat: 'dd.mm.yy' }).val();
        $('#id_toDate').datepicker({ dateFormat: 'dd.mm.yy' }).val();
    });

    function printClick(element) {
        $(element).attr('href', function() {
            itemsPerPage = $('#id_items_per_page').val();
            return this.href + itemsPerPage;
        });
    }

</script>
<h3>Wpisy w kasie:</h3>
<a class="btn btn-success" href="{% url 'item_add' report.id %}" style="margin-top: 20px;">Dodaj wpis</a>
{% if items|length > 0 %}

<div id="dialog" title="Potwiedź swój wybór" class="ui-dialog-titlebar">
    Czy na pewno chcesz usunąć ten element?
</div>

<table class="table table-striped table-condensed table-toggle">
    <thead>
        <tr>
            <th>
                Lp
            </th>
            <th>
                Numer<br />Data wystawienia
            </th>
            <th data-breakpoints='xs'>
                Tytułem
            </th>
            <th data-breakpoints='xs'>
                Kontrahent
            </th>
            <th data-breakpoints='xs'>
                Przychód
            </th>
            <th data-breakpoints='xs'>
                Rozchód
            </th>
            <th data-breakpoints='xs'>
                Opcje
            </th>
            <th data-breakpoints='xs'>
            </th>
            <th data-breakpoints='xs'>
            </th>
        </tr>
    </thead>
    <tbody>
{% for item in items %}

        <tr>
            <td>
                {{ item.letter }}
            </td>
            <td>
                {{ item.number }}<br />{{ item.item_date_numeric }}
            </td>
            <td>
                {{ item.title }}
            </td>
            <td>
                {{ item.party }}
            </td>
            <td>
                {% if item.itemDirection == 'in' %}
                {{ item.amount }}
                {% endif %}
            </td>
            <td>
                {% if item.itemDirection == 'out' %}
                {{ item.amount }}
                {% endif %}
            </td>
            <td>
                <p><a class="btn btn-success" href="{% url 'receipt_print_single' item.id %}" target="_blank">Drukuj dokument</a></p>
            </td>
            <td>
                <p><a class="btn btn-warning" href="{% url 'item_edit' report.id item.id %}">Edytuj wpis</a></p>
            </td>
            <td>
                <p><a class="btn btn-danger confirmLink" href="{% url 'item_delete' report.id item.id %}">Usuń wpis</a></p>
            </td>
        </tr>
{% endfor %}
   <tr class='hidden-xs'>
        <td colspan="4">Obroty</td>
        <td>{{ report.sumIn|floatformat:2  }}</td>
        <td>{{ report.sumOut|floatformat:2  }}</td>
        <td colspan='3'></td>

    </tr>
    <tr class='hidden-xs'>
        <td colspan="4">Stan poprzedni kasy</td>
        <td>{{ report.transferAmount|floatformat:2 }}</td>
        <td colspan='3'></td>        
    </tr>
    <tr class='hidden-xs'>
        <td colspan="4">Stan kasy obecny</td>
        <td></td>
        <td>{{ report.amount|floatformat:2 }}</td>
        <td colspan='3'></td>
    </tr>
    </tbody>
</table>
<div class='visible-xs'>
<table class='table'>
<thead>
<tr>
<th></th>
<th>Przychód</th>
<th>Odchód</th>
</tr>
</thead>
<tbody>
<tr>
        <td>Obroty</td>
        <td>{{ report.sumIn|floatformat:2  }}</td>
        <td>{{ report.sumOut|floatformat:2  }}</td>
        
    </tr>
    <tr>
        <td>Stan poprzedni kasy</td>
        <td>{{ report.transferAmount|floatformat:2 }}</td>
        <td></td>
    <tr>
        <td>Stan kasy obecny</td>
        <td></td>
        <td>{{ report.amount|floatformat:2 }}</td>
    </tr>
    </tbody>
    </table>
    </div>
<a class="btn btn-success" href="{% url 'item_add' report.id %}">Dodaj wpis</a>
{% else %}
<h4>Brak wpisów</h4>
{% endif %}

{% if items|length > 0 %}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-8">
        <div class="form-inline">
            Ilość wpisów na strone:
            <input id="id_items_per_page" style="width:70px" class="form-control" type="number" min="1" max="25" value="20">
            <a onclick="printClick(this);"  class="btn btn-default" href="{% url 'report_print' report.id %}" target="_blank">Drukuj raport</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 5px;">
    <div class="col-md-4">
        <a class="btn btn-default" href="{% url 'receipt_print' report.id %}" target="_blank">Drukuj dokument kasowy</a>
    </div>
</div>

{% endif %}

{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'main/scripts/dialog.js' %}"></script>
    <script>
    
        $('.table-toggle').footable({
            "toggleColumn": 'last',
        })

        cells = $('.table-toggle>tbody>tr').children()
        chunks = []
        while(cells.length){
            chunks.push(cells.splice(0,9))
        }
        chunks.reverse()
        for (i = 0; i<3; i++){
            for(elem in chunks[i]){
                if (elem >= 4){
                    chunks[i][elem].remove()
                }
            }
        }
    </script>

{% endblock %}