{% extends "main/pdf/layout.html" %}

{% load pdf_filters %}

{% block header %}
<span>CODEFUSION Spółka z ograniczoną odpowiedzialnością</span>
<span>ul. Armii Krajowej 16/2</span>
<span>45-071 Opole</span>
<span>NIP: 7542999127</span>
{% endblock %}

{% block details %}
okres od {{ report.fromDate|date:"d-m-Y"  }} do {{ report.toDate|date:"d-m-Y"  }}, kasa: {{ report.book.abbreviation }}, waluta: {{ report.currency.abbreviation }}
{% endblock %}

{% block table %}
<table class="main">
    <thead>
        <tr>
            <td>Lp</td>
            <td>Numer<br />Data wystawienia</td>
            <td>Tytułem</td>
            <td>Kontrahent</td>
            <td width="80px">Przychód</td>
            <td width="80px">Rozchód</td>
        </tr>
    </thead>
    <tbody>
{% for item in items|pgel:current_page %}
        <tr>
            <td>{{ item.letter }}</td>
            <td>{{ item.number }}<br />{{ item.itemDate }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.party }}</td>
            <td>
                {% if item.itemDirection == 'in' %}
                {{ item.amount|floatformat:2 }}
                {% endif %}
            </td>
            <td>
                {% if item.itemDirection == 'out' %}
                {{ item.amount|floatformat:2 }}
                {% endif %}
            </td>
        </tr>
{% empty %}
No items.
{% endfor %}

<!--
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                Obroty
            </td>
            <td>
                {{ report.sumIn|floatformat:2 }}
            </td>
            <td>
                {{ report.sumOut|floatformat:2 }}
            </td>
        </tr>
-->
    </tbody>
</table>
{% endblock %}

{% block summary1 %}
{% ifequal current_page page_range|last %}
<table>
        <tr>
            <td>Suma folio</td>
            <td width="80px">0</td>
            <td width="80px">0</td>
        </tr>
        <tr>
            <td>Przeniesienie</td>
            <td width="80px">0</td>
            <td width="80px">0</td>
        </tr>
</table>
{% endifequal  %}
{% endblock %}

{% block summary2 %}
<table>
        <tr>
            <td>Obroty</td>
            <td width="80px">0</td>
            <td width="80px">0</td>
        </tr>
        <tr>
            <td>Stan kasy poprzedni</td>
            <td width="80px">0</td>
            <td width="80px">0</td>
        </tr>
        <tr>
            <td>Stan kasy obecny</td>
            <td width="80px">{{ report.amount|floatformat:2 }}</td>
            <td width="80px">0</td>
        </tr>
</table>
{%  endblock %}

{% block author %}
<p>Sporządził: ...................</p>
{% endblock %}