{% load humanize %}

{% block content %}

CODEFUSION Spółka z ograniczoną odpowiedzialnością</br>
ul. Armii Krajowej 16/2</br>
45-071 Opole</br>
NIP: 7542999127</br>
<br />
<b>Raport kasowy</b><br />
<br />
okres od {{ report.fromDate|date:"d-m-Y"  }} do {{ report.toDate|date:"d-m-Y"  }}, kasa: {{ report.book.abbreviation }}, waluta: {{ report.currency.abbreviation }}
<br />
<br />
<table border="1">
    <thead>
        <tr>
            <td>
                Lp
            </td>
            <td>
                Numer<br />Data wystawienia
            </td>
            <td>
                Tytułem
            </td>
            <td>
                Kontrahent
            </td>
            <td>
                Przychód
            </td>
            <td>
                Rozchód
            </td>
        </tr>
    </thead>
    <tbody>
{% for item in items %}

        <tr>
            <td>
                {{ item.letter }}
            </td>
            <td>
                {{ item.number }}<br />{{ item.itemDate }}
            </td>
            <td>
                {{ item.title }}
            </td>
            <td>
                {{ item.party }}
            </td>
            <td>
                {% if item.itemDirection == 'in' %}
                {{ item.amount|floatformat:2 }}
                {% endif %}
            </td>
            <td>
                {% if item.itemDirection == 'out' %}
                {{ item.amount|floatformat:2 }}
                {% endif %}
            </td>
        </tr>

{% empty %}
No items.
{% endfor %}

        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                Obroty
            </td>
            <td>
                {{ report.sumIn|floatformat:2 }}
            </td>
            <td>
                {{ report.sumOut|floatformat:2 }}
            </td>
        </tr>

    </tbody>
</table>

<br />

<table border="1" >
        <tr>
            <td>
                Stan kasy poprzedni
            </td>
            <td>
                {{ report.lastAmount|floatformat:2 }}
            </td>
            <td>0
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Stan kasy obecny
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                {{ report.amount|floatformat:2 }}
            </td>
        </tr>                
</table>

<br />
Sporządził: ...................
<br />

{% endblock %}
