{% extends "main/pdf/layout_report.html" %}

{% load pdf_tags %}

{% block header %}
<span>CODEFUSION Spółka z ograniczoną odpowiedzialnością</span>
<span>ul. Armii Krajowej 16/2</span>
<span>45-071 Opole</span>
<span>NIP: 7542999127</span>
{% endblock %}

{% block details %}
okres od {{ report.fromDate|date:"d-m-Y"  }} do {{ report.toDate|date:"d-m-Y"  }}, kasa: {{ report.book.abbreviation }}, waluta: {{ report.currency.abbreviation }}
{% endblock %}

{% block table %}
<table class="main">
    <thead>
        <tr>
            <td>Lp</td>
            <td>Numer<br />Data wystawienia</td>
            <td>Tytułem</td>
            <td>Kontrahent</td>
            <td width="80px">Przychód</td>
            <td width="80px">Rozchód</td>
        </tr>
    </thead>
    <tbody>

{% list_page_slice items current_page items_per_page as sliced_list %}
{% for item in sliced_list %}
        <tr>
            <td>{{ item.letter }}</td>
            <td>{{ item.number }}<br />{{ item.item_date_numeric }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.party }}</td>
            <td>
                {% if item.itemDirection == 'in' %}
                {{ item.amount|floatformat:2 }}
                {% endif %}
            </td>
            <td>
                {% if item.itemDirection == 'out' %}
                {{ item.amount|floatformat:2 }}
                {% endif %}
            </td>
        </tr>
{% empty %}
No items.
{% endfor %}
    </tbody>
</table>
{% endblock %}

{% block summary1 %}
{% if current_page > 0 %}

{% sum_single_page items current_page "in" items_per_page as folio_in %}
{% sum_single_page items current_page "out" items_per_page as folio_out %}

{% sum_previous_pages items current_page "in" items_per_page as prev_folio_in %}
{% sum_previous_pages items current_page "out" items_per_page as prev_folio_out %}

<table>
        <tr>
            <td>Suma folio</td>
            <td width="80px">{{ folio_in|floatformat:2 }}</td>
            <td width="80px">{{ folio_out|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Przeniesienie</td>
            <td width="80px">{{ prev_folio_in|floatformat:2 }}</td>
            <td width="80px">{{ prev_folio_out|floatformat:2 }}</td>
        </tr>
</table>
{% endif  %}
{% endblock %}

{% block summary2 %}
{% get_sum_from_all_pages items current_page "in" items_per_page as overall_in %}
{% get_sum_from_all_pages items current_page "out" items_per_page as overall_out %}
<table>
        <tr>
            <td>Obroty</td>
            <td width="80px">{{ overall_in|floatformat:2 }}</td>
            <td width="80px">{{ overall_out|floatformat:2 }}</td>
        </tr>
        <tr>
            <td>Stan kasy poprzedni</td>
            <td width="80px">{{ report.trasnferAmount|floatformat:2 }}</td>
            <td width="80px"></td>
        </tr>
        <tr>
            <td>Stan kasy obecny</td>
            <td width="80px"></td>
            <td width="80px">{{ report.amount|floatformat:2 }}</td>
        </tr>
</table>
{%  endblock %}

{% block author %}
<p>Sporządził: ...................</p>
{% endblock %}