{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<script language="javascript">

    $(document).ready(function () {
        $('#id_itemDate').datepicker({ dateFormat: 'dd.mm.yy' }).val();
        //$('#id_amount').spinner({
        //    min: .01,
        //    step: 1
        //});
        $("input[type=text]").focus(function () {
            $(this).select();
        });
        $("input[type=number]").focus(function () {
            $(this).select();
        });
        $("#id_party").autocomplete({
            source: "/api/get_partys/",
            minLength: 3,
        });
    });

</script>

<form method="POST" action="{% url 'item_add' report.id %}">
  {% csrf_token %}
  {{ form | crispy }}
  <input type="submit" value="Dodaj"/>
</form>

{% endblock %}
